<!doctype html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>BitBank - Cadastro de Transações</title>
</head>
<body>
<ul>
    <li>Conta:
        <span th:text="${conta.numero}"></span>
    </li>
    <li>Correntista:
        <span th:text="${conta.correntista.nome}"></span>
    </li>
    <li>Data de abertura:
        <span th:text="${#dates.format(conta.data, 'dd/MM/yyyy')}"></span>
    </li>
</ul>

<div style="margin-bottom: 30px;"></div>

<table>
    <thead>
    <tr>
        <th>Descricao</th>
        <th>Data</th>
        <th style="text-align: right">Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transacao: ${conta.transacoes}">
        <td th:text="${transacao.descricao}"></td>
        <td th:text="${#dates.format(transacao.data, 'dd/MM/yyyy')}"></td>
        <td th:text="${#numbers.formatCurrency(transacao.valor)}" style="text-align: right;"></td>
    </tr>
    <th style="font-weight:bold; background-color: darkgray;"
        colspan="2">Total
    </th>
    <td style="font-weight:bold; background-color: darkgray;text-align: right"
        th:text=" ${#numbers.formatCurrency(conta.saldo)}
"></td>

    </tbody>
</table>
</body>
</html>
