<!doctype html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Cadastro de contas</title>
</head>
<body>
    <h1>Cadastro de contas</h1>
    <div th:text="${mensagem}" style="color: red"></div>

    <form th:action="@{/conta/save}" method="POST" th:object="${conta}">
        <input type="hidden" th:field="*{id}">

        <label for="input-numero">Numero da conta:</label>
        <input type="number" name="numero" id="input-numero" th:field="*{numero}">

        <label for="select-correntista">Correntista</label>
        <select name="correntistas" id="select-correntista">
            <option th:each="correntista : ${correntistas}"
                    th:text="${conta.numero}"
                    th:value="${conta.id}"></option>
        </select>

        <input type="submit" value="Criar">
    </form>
</body>
</html>